<nav class="bg-indigo-900 text-white shadow-xl sticky top-0 z-50">
  <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
    <div class="flex justify-between h-16">
      <div class="flex items-center space-x-8">
        <div class="flex-shrink-0 flex items-center cursor-pointer" routerLink="/customer">
          <span class="text-xl font-black tracking-tighter italic uppercase">
            The HartFord</span>
        
        </div>
        
      </div>

      <div class="flex items-center space-x-6">
        <a routerLink="/customer/portfolio" class="flex items-center space-x-3 hover:text-indigo-300 transition group">
          <div class="text-right hidden sm:block">
            <p class="text-[10px] text-indigo-300 uppercase font-bold tracking-widest leading-none mb-1">My Account</p>
            <p class="text-sm font-medium leading-none">{{ auth.currentUser()?.firstName }}</p>
          </div>
          <div class="bg-indigo-800 p-2 rounded-full group-hover:bg-indigo-700 transition shadow-inner">
            <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M16 7a4 4 0 11-8 0 4 4 0 018 0zM12 14a7 7 0 00-7 7h14a7 7 0 00-7-7z" />
            </svg>
          </div>
        </a>

        <button (click)="logout()" class="bg-indigo-800 hover:bg-red-600 p-2 rounded-full transition-colors flex items-center justify-center">
          <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M17 16l4-4m0 0l-4-4m4 4H7m6 4v1a3 3 0 01-3 3H6a3 3 0 01-3-3V7a3 3 0 013-3h4a3 3 0 013 3v1" />
          </svg>
        </button>
      </div>
    </div>
  </div>
</nav>